## Data Overview

In [5]:
import pandas as pd

In [14]:
## Load data from csv
data = pd.read_csv("../data/raw/Telco-Customer-Churn.csv")

In [15]:
## Data shape: How big the data is?
data.shape

(7043, 21)

In [16]:
## How does the data look like?
data.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
6246,7054-DMVAS,Male,0,No,No,54,Yes,No,DSL,Yes,...,No,No,Yes,No,Two year,Yes,Bank transfer (automatic),65.30,3512.9,No
6328,4701-LKOZD,Female,0,No,No,70,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),89.75,6367.2,No
6907,1041-RXHRA,Female,0,No,No,41,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,No,Bank transfer (automatic),70.25,2868.05,Yes
3046,8715-KKTFG,Female,0,Yes,No,61,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,One year,Yes,Bank transfer (automatic),103.30,6518.35,No
4046,0440-QEXBZ,Female,0,No,No,44,Yes,Yes,DSL,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.15,2139.1,No

In [17]:
## Basic Information: type of cols, missing vlaues, etc
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7040 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7038 non-null   float64
 19  TotalCharges      7040 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

#### Comment: 
Column `TotalCharges` is of object type but should be numeric. There are some empty strings that need to be handled.

In [18]:
## Check for missing values
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          3
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      5
TotalCharges        3
Churn               0
dtype: int64

#### Comment:
There are some columns that contains missing values.

In [19]:
## Check for duplicate values
data.duplicated().sum()

np.int64(2)

#### Comment:
There are two duplicate rows in the dataset.

In [26]:
## Basic descriptive stats: How data looks mathematically?
data.describe(include=['int', 'float'])

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7038.000000
mean        0.162431    32.359080       64.745027
std         0.368872    24.556385       30.079478
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000